/*
--------------------------------------------------------------
Header
--------------------------------------------------------------
*/

header {
	position: relative;
	z-index: 999;
}

/*
--------------------------------------------------------------
Logo
--------------------------------------------------------------
*/

#fujisan-logo img {
	margin-top: 7px;
	margin-bottom: 2px;
	height: 105px;
	width: auto;
}

/*
--------------------------------------------------------------
Navigation Bar
--------------------------------------------------------------
*/

/*Font styling for nav text */
.nav-font {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 28px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
}

/*Centers navigation on bigger screens while preserving styling on nav for smaller screens*/
@media (min-width: 768px) {
	#navigation {
		display: table;
		margin: 0 auto;
		float: none;
	}

	#navigation li {
		display: table-cell;
		padding: 0px 10px;
		color: #000000;
	}

	.navbar-brand {
		display: none;
	}

	.navbar {
		border-radius: 0;
	}

	.nav-font {
		font-size: 22px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.nav-font {
		font-size: 28px;
	}
}

/*Get rid of Bootstrap's default border for navbars*/
.navbar {
	border: 0;
	margin-bottom: 0;
}

/*Get rid of Bootstrap's default background color for navbars*/
.navbar-default {
	background-color: #ffffff;
}

/* Change the default font color of navbar brand text */
.navbar-default .navbar-brand {
	color: #000000;
}

/*Weird margin in the dropdown nav for screens <768px*/
.navbar-nav {
	margin: 0 -15px;
}



/*Nav font color*/
.navbar-default .navbar-nav>li>a {
	color: #000000;
	border-bottom: 5px solid transparent;
}

/*Hover over nav effects*/
.navbar-default .navbar-nav>li>a:hover {
	color: #8C001A;
	border-bottom: 5px solid #8C001A;
	
	/*Fade-in animation*/
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;

}

/*Styling for active navigation link*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #8C001A;
	background-color: transparent;
	border-bottom: 5px solid #8C001A;
}

/*
--------------------------------------------------------------
Layerslider
--------------------------------------------------------------
*/

.ls-text {
	color: #ffffff;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.5);*/
	font-family: 'Raleway', sans-serif;
}

#layerslider h1 {
	font-size: 67px;
}

#layerslider h2 {
	font-size: 26px;

	/*Red background box*/
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px; 
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px; 
	background: #8C001A;
	padding: 0px 10px;
	height: 37px;
	line-height: 37px;	
}

/*
--------------------------------------------------------------
Main Content
--------------------------------------------------------------
*/

#main-content {
	position: relative;
	z-index: 998;

	padding-top: 35px;
	padding-bottom: 45px;	
}

.callout h2 {
	font-size: 40px;
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 5px solid #8C001A;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.callout h2 {
		font-size: 24px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.callout h2 {
		font-size: 35px;
	}
}

.callout small {
	font-weight: bold;
}

.callout img {
	margin-bottom: 10px;
}

/*
--------------------------------------------------------------
Restaurant Details
--------------------------------------------------------------
*/

/* Grey color font: cd201f */ 
#restaurant-details {
	position: relative;
	z-index: 999;

	background-image: url('../img/bg-canvas-black.png');
	background-repeat: repeat;
	background-position: left top;

	padding-top: 35px;
	padding-bottom: 45px;
	
	color: #ffffff;
	background-color: #202020;
}

#restaurant-details h1,
#restaurant-details h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	margin-bottom: 2px;
	color: #8C001A;
	font-weight: bold;
	text-transform: uppercase;
}

/*Provides a separating border for mobile and tablet devices.*/
/*This should be converted to a mobile first using min-width instead*/
@media (max-width: 768px) {
	#restaurant-details h2 {
		border-top: 6px solid #8C001A;
		padding-top: 15px;
		margin-top: 15px;
		font-size: 36px;
	}	
}

.hours p {
	margin-bottom: 0;	
}


/*
--------------------------------------------------------------
Footer
--------------------------------------------------------------
*/

footer {
	background-image: url('../img/footer-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #8C001A;

	/*	Inset box shadow - replaced by footer-bg.png
	-webkit-box-shadow: inset 0 0 30px #000000;
	-moz-box-shadow: inset 0 0 30px #000000;
	box-shadow: inset 0 0 30px #000000;*/
}

/*
--------------------------------------------------------------
Copyright Text
--------------------------------------------------------------
*/

#copyright {
	display: table;
	height: 110px;
	color: #ffffff;
}

#copyright-inner {
	display: table-cell;
	vertical-align: middle;
}

/*
--------------------------------------------------------------
Social Media Links
--------------------------------------------------------------
*/

@media (max-width: 768px) {
	#social-media {
		display: none; 
	}
}

#social-media-inner {
	margin: auto;
	padding-top: 17px;
	padding-bottom: 17px;
}

#social-media-inner ul {
  list-style: none;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

#social-media-inner li {
  display: inline;
/*  width: 35px;
  height: 50px;*/
}

#social-media-inner a {
  display: block;
  width: 35px;
  height: 50px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  khtml-opacity: 0.3;
}

#social-media-inner a:link, a:visited {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#social-media-inner a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#social-media-inner .twitter a {
  background-image: url("../img/twitter-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#social-media-inner .twitter a:hover {
  background-color: #00bef6;
}

#social-media-inner .facebook a {
  background-image: url("../img/facebook-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#social-media-inner .facebook a:hover {
  background-color: #3b5998;
}

/*
--------------------------------------------------------------
Misc.
--------------------------------------------------------------
*/

.uppercase {
	text-transform: uppercase;
}

.top-div-shadow {
	-moz-box-shadow: 0 -5px 30px rgba(0,0,0,1);
	-webkit-box-shadow: 0 -5px 30px rgba(0,0,0,1);
	box-shadow: 0 -5px 30px rgba(0,0,0,1);	
}

.bot-div-shadow {
	-moz-box-shadow: 0 5px 30px rgba(0,0,0,1);
	-webkit-box-shadow: 0 5px 30px rgba(0,0,0,1);
	box-shadow: 0 5px 30px rgba(0,0,0,1);	
}

.red-border-top {
	border-top: 8px solid #8C001A;
}

/*
--------------------------------------------------------------
Content Header
--------------------------------------------------------------
*/

@media (min-width: 768px) {
	#content-header {
		padding-top: 60px;
		padding-bottom: 60px;
		font-size: 24px;
		text-align: left;
	}
}

#content-header {
	position: relative;
	padding: 30px 15px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	width: 100%;
	background-image: url('../img/red-bg_opt.jpg');
	background-position: top center;
	background-repeat: repeat-x;
	text-align: center;
}

#content-header h1 {
    margin-top: 0;
    color: #fff;
}

@media (min-width:768px) { 
    #content-header {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 24px;
        text-align: left;
    }
    #content-header h1 {
        font-size: 60px;
        line-height: 1;
    }
}

/*
--------------------------------------------------------------
Content Footer
--------------------------------------------------------------
*/

#content-footer {
    margin-top: 150px;
    padding-top: 80px;
    background-image: url('../img/bg-canvas-black.png');
    background-repeat: repeat;
    background-position: left top;
}

/*
--------------------------------------------------------------
Leftover Code Scraps
--------------------------------------------------------------
*/

#main-callout {
	background-image: url('../img/red-bg_opt.jpg');
	background-repeat: no-repeat;
	background-color: #8C001A;
	height: 300px;
}

#main-callout-divider {
	background: url('../img/hr-top.png') scroll transparent;
	margin: -4px 0 0;
	background-repeat: repeat-x;
	background-position: center top;
	height: 10px;
	width: 100%;
}

/*
--------------------------------------------------------------
Menu
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Menu Affix
--------------------------------------------------------------
*/

.menu-sidebar.affix {
    position: static
}

@media (min-width:768px) { 
    .menu-sidebar {
        padding-left: 20px
    }
}

.menu-sidebar .nav>li>a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px;
}
.menu-sidebar .nav>li>a:hover,
.menu-sidebar .nav>li>a:focus {
    padding-left: 19px;
    color: #8C001A;
    text-decoration: none;
    background-color: transparent;
    border-right: 1px solid #8C001A;
}
.menu-sidebar .nav>.active>a,
.menu-sidebar .nav>.active:hover>a,
.menu-sidebar .nav>.active:focus>a {
    padding-left: 18px;
    font-weight: 700;
    color: #8C001A;
    background-color: transparent;
    border-right: 2px solid #8C001A;
}
.menu-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}
.menu-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}
.menu-sidebar .nav .nav>li>a:hover,
.menu-sidebar .nav .nav>li>a:focus {
    padding-left: 29px
}
.menu-sidebar .nav .nav>.active>a,
.menu-sidebar .nav .nav>.active:hover>a,
.menu-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
    padding-left: 28px;
}
.back-to-top {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999;
}
.back-to-top:hover {
    text-decoration: none;
    color: #8C001A;
}
@media (min-width:768px) { 
    .back-to-top {
        display: block
    }
}
@media (min-width:992px) { 
    .menu-sidebar .nav>.active>ul {
        display: block
    }
    .menu-sidebar.affix,
    .menu-sidebar.affix-bottom {
        width: 213px
    }
    .menu-sidebar.affix {
        position: fixed;
        top: 20px;
    }
    .menu-sidebar.affix-bottom {
        position: absolute
    }
    .menu-sidebar.affix-bottom .menu-sidenav,
    .menu-sidebar.affix .menu-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width:1200px) { 
    .menu-sidebar.affix-bottom,
    .menu-sidebar.affix {
        width: 263px
    }
}

.menu-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width:992px) { 
    #menu-nav-container {
        padding-top: 81px;
    }
}

/*
--------------------------------------------------------------
Menu Section Header
--------------------------------------------------------------
*/

.menu-section-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 3px solid #8C001A;
    font-family: 'Raleway', sans-serif;
}

.menu-section-header h1 {
    margin-bottom: 0;
    font-size: 40px;
    margin-top: 10px;  
}

.menu-section-header p {
    margin-bottom: 0;
}

/*
--------------------------------------------------------------
Menu Items
--------------------------------------------------------------
*/

.menu-item p {
    font-weight: bold;
    margin-bottom: 0;
}

.menu-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


.menu-section-last-row .menu-item{
    border-bottom: 0;
}

.menu-item-lunch-price p {
    margin-right: 40px;
    font-weight: normal;
}

